[submodule "pack/vendor/start/darcula"]
	path = pack/vendor/start/darcula
	url = https://github.com/doums/darcula.git
	branch = master
[submodule "pack/vendor/start/lightline.vim"]
	path = pack/vendor/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
	branch = master
[submodule "pack/vendor/start/vim-sensible"]
	path = pack/vendor/start/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
	branch = master
[submodule "pack/vendor/start/vim-cutlass"]
	path = pack/vendor/start/vim-cutlass
	url = https://github.com/svermeulen/vim-cutlass.git
	branch = master
[submodule "pack/vendor/start/vim-repeat"]
	path = pack/vendor/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
	branch = master
[submodule "pack/vendor/start/fzf"]
	path = pack/vendor/start/fzf
	url = https://github.com/junegunn/fzf.git
	branch = master
[submodule "pack/vendor/start/fzf.vim"]
	path = pack/vendor/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
	branch = master
[submodule "pack/vendor/start/nerdtree"]
	path = pack/vendor/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
	branch = master
[submodule "pack/vendor/start/nerdtree-git-plugin"]
	path = pack/vendor/start/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
	branch = master
[submodule "pack/vendor/start/vim-sneak"]
	path = pack/vendor/start/vim-sneak
	url = https://github.com/justinmk/vim-sneak.git
	branch = master
[submodule "pack/vendor/start/vim-surround"]
	path = pack/vendor/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
	branch = master
[submodule "pack/vendor/start/vim-endwise"]
	path = pack/vendor/start/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
	branch = master
[submodule "pack/vendor/start/vim-commentary"]
	path = pack/vendor/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
	branch = master
[submodule "pack/vendor/start/vim-eunuch"]
	path = pack/vendor/start/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
	branch = master
[submodule "pack/vendor/start/vim-polyglot"]
	path = pack/vendor/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
	branch = master
[submodule "pack/vendor/start/ale"]
	path = pack/vendor/start/ale
	url = https://github.com/dense-analysis/ale.git
	branch = master
[submodule "pack/vendor/start/lightline-ale"]
	path = pack/vendor/start/lightline-ale
	url = https://github.com/maximbaz/lightline-ale.git
	branch = master
[submodule "pack/vendor/start/vim-sleuth"]
	path = pack/vendor/start/vim-sleuth
	url = https://github.com/tpope/vim-sleuth.git
	branch = master
[submodule "pack/vendor/start/vim-test"]
	path = pack/vendor/start/vim-test
	url = https://github.com/vim-test/vim-test.git
	branch = master
[submodule "pack/vendor/start/vim-fugitive"]
	path = pack/vendor/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
	branch = master
[submodule "pack/vendor/start/vim-easy-align"]
	path = pack/vendor/start/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
	branch = master
[submodule "pack/vendor/start/splitjoin.vim"]
	path = pack/vendor/start/splitjoin.vim
	url = https://github.com/AndrewRadev/splitjoin.vim.git
	branch = master
[submodule "pack/vendor/start/vim-openscad"]
	path = pack/vendor/start/vim-openscad
	url = https://github.com/sirtaj/vim-openscad.git
	branch = master
[submodule "pack/vendor/start/vim-visual-multi"]
	path = pack/vendor/start/vim-visual-multi
	url = https://github.com/mg979/vim-visual-multi.git
	branch = master
[submodule "pack/vendor/start/vim-closer"]
	path = pack/vendor/start/vim-closer
	url = git@github.com:rstacruz/vim-closer.git
	branch = master
